<div class="col-3">
  <div class="card">
    <% if post.images.attached? %>
      <%= image_tag post.images[0], class: 'card-img-top' %>
    <% end %>
    <div class="card-body">
      <div class="owner-avatar">
        <% if post.user.avatar.attached? %>
          <%= image_tag post.user.avatar[0], class: 'rounded-circle w-100' %>
        <% end %>
      </div>
      <h5 class="card-title"><%= post.title %></h5>
      <p class="card-text">
        <strong>Descripcion:</strong><%= post.description %><br>
      </p>
    </div>
  </div>
</div>
